@charset "UTF-8";

/* Remoção dos pontos de paragrafos */
ul#fotos-clientes{
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

/* Cria caixas para colocar as fotos dentro */
ul#fotos-clientes li{
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid black;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .5s ease-in;
}

/* Remove a legenda de cima das fotos */
ul#fotos-clientes li span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px, 1px, 1px, #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

/* amplia a foto ao passar o mouse por cima */
ul#fotos-clientes li:hover {
	-webkit-transform: scale(1.5);
}

/* Exibe o nome da legenda ao passar o mouse por cima */
ul#fotos-clientes li:hover span {
	opacity: 1;
}

/* insere a imagem */
ul#fotos-clientes li#foto01{
	background: url("../_imagens/logosofica.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color:#ffffff;
}

/* zoom para exibir a imagem inteira */
ul#fotos-clientes li#foto01:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

/* insere a imagem */
ul#fotos-clientes li#foto02{
	background: url("../_imagens/via-bella.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color:#ffffff;
}

/* zoom para exibir a imagem inteira */
ul#fotos-clientes li#foto02:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

/* insere a imagem */
ul#fotos-clientes li#foto03{
	background: url("../_imagens/locsul.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color:#ffffff;
}

/* zoom para exibir a imagem inteira */
ul#fotos-clientes li#foto03:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

/* insere a imagem */
ul#fotos-clientes li#foto04{
	background: url("../_imagens/katuxa.png") no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color:#ffffff;
}

/* zoom para exibir a imagem inteira */
ul#fotos-clientes li#foto04:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

/* insere a imagem */
ul#fotos-clientes li#foto05{
	background: url("../_imagens/neurologia.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 350px 350px;
	background-color:#ffffff;
}

/* zoom para exibir a imagem inteira */
ul#fotos-clientes li#foto05:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

/* insere a imagem */
ul#fotos-clientes li#foto06{
	background: url("../_imagens/rainhamodas.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 350px 350px;
	background-color:#ffffff;
}

/* zoom para exibir a imagem inteira */
ul#fotos-clientes li#foto06:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}